.navigationBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  border-bottom: 0.1rem solid grey;
}

.navigationBar-mainPage .clickableText-text {
  color: darkcyan;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}
